/.idea/.idea.AvaloniaNavigation/.idea/.gitignore
/.idea/.idea.AvaloniaNavigation/.idea/.name
/.idea/.idea.Avalonia.Navigation/.idea/avalonia.xml
/.idea/.idea.AvaloniaNavigation/.idea/avalonia.xml
/.idea/.idea.AvaloniaNavigation/.idea/aws.xml
/.idea/.idea.AvaloniaNavigation/.idea/encodings.xml
/.idea/.idea.AvaloniaNavigation/.idea/indexLayout.xml
/.idea/.idea.AvaloniaNavigation/.idea/misc.xml
/.idea/.idea.Avalonia.Navigation/.idea/vcs.xml
/.idea/.idea.Avalonia.Navigation/.idea/workspace.xml
